<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        {{form.valid }}
        {{form.value | json }}

        <form #form= "ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container  [class.has-error]= "!endereco.valid && (endereco.dirty || endereco.touched)" [class.has-success]= "endereco.valid && (endereco.dirty || endereco.touched)" mensagemErro="Campo obrigatório e com min de 5 caracteres" label = "Endereço">
                <input class = "form-control" name="Endereço" ngModel required minlength="5" placeholder="Endereço" #endereco = "ngModel" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
             <mt-input-container [class.has-error]= "!numero.valid && (numero.dirty || numero.touched)" [class.has-success]= "numero.valid && (numero.dirty || numero.touched)" mensagemErro="Campo obrigatório(somente números)" label="Número">
              <input class="form-control" name = "Número" ngModel required maxlength = "5" placeholder="Número" pattern="^[0-9]*$"  #numero = "ngModel" autocomplete = "off">
             </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container [class.has-error]= "!complemento.valid && (complemento.dirty || complemento.touched)" [class.has-success]= "complemento.valid && (complemento.dirty || complemento.touched)"  mensagemErro="campo obrigatório e com min de 5 caracteres" label="Complemento">
                <input class="form-control"  name="Complemento" ngModel required minlength="5" placeholder="Complemento" #complemento = "ngModel" autocomplete="off">
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <div class="col-xs-12 table-responsive">

              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="text-center">Quantidade</th>
                  <th>Item</th>
                  <th>Descrição</th>
                  <th class="text-right">Subtotal</th>
                  <th class="text-right"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center">
                    <a class="btn btn-sm"><i class="fa fa-minus"></i></a>
                    1
                    <a class="btn btn-sm"><i class="fa fa-plus"></i></a>
                  </td>
                  <td>Cup Cake</td>

                  <td>Recheado com doce de leite</td>
                  <td class="text-right">R$ 10,00</td>
                  <td class="text-right">
                    <a class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <a class="btn btn-sm"><i class="fa fa-minus"></i></a>
                    1
                    <a class="btn btn-sm"><i class="fa fa-plus"></i></a>
                  </td>
                  <td>Croissant</td>

                  <td>Recheado com presunto e queijo</td>
                  <td class="text-right">R$ 10,00</td>
                  <td class="text-right">
                    <a class="btn btn-sm danger "><i class="fa fa-remove"></i></a>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                   <div>
                     <label>
                      <div class="form-group">
                        <label style="display: flex; align-items: center;">
                          <span style="margin-right: 5px;">
                              <div class="iradio_flat-red checked" aria-checked="false" aria-disabled="false">
                                  <input type="radio" name="r3" class="flat-red" checked="" style="opacity: 1;">
                              </div>
                          </span>
                          <span>Dinheiro</span>
                      </label>
                       </div>

                     </label>
                   </div>

                   <div>
                    <label>
                     <div class="form-group">
                       <label style="display: flex; align-items: center;">
                         <span style="margin-right: 5px;">
                             <div class="iradio_flat-red checked" aria-checked="false" aria-disabled="false">
                                 <input type="radio" name="r3" class="flat-red" checked="" style="opacity: 1;">
                             </div>
                         </span>
                         <span>Cartão de crédito</span>
                     </label>
                      </div>

                    </label>
                  </div>

                  <div>
                    <label>
                     <div class="form-group">
                       <label style="display: flex; align-items: center;">
                         <span style="margin-right: 5px;">
                             <div class="iradio_flat-red checked" aria-checked="false" aria-disabled="false">
                                 <input type="radio" name="r3" class="flat-red" checked="" style="opacity: 1;">
                             </div>
                         </span>
                         <span>Cartão de Débito</span>
                     </label>
                      </div>

                    </label>
                  </div>

                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <div class="table-responsive">
                <table class="table">
                  <tbody><tr>
                    <th style="width:50%">Itens:</th>
                    <td class="text-right">R$ 20,00</td>
                  </tr>
                  <tr>
                    <th>Frete:</th>
                    <td class="text-right">R$ 8,00</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td class="text-right">R$ 28,00</td>
                  </tr>
                </tbody></table>
              </div>
              <a href="order-summary.html" class="btn btn-success pull-right" [class.disabled]="!form.valid">
                <i class="fa fa-credit-card"></i> Concluir Pedido
            </a>
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="col-sm-6 col-xs-12">

      </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->
