<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">



        <form [formGroup]="pedidoForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Seus Dados:</p>
            </div>
            <div class="col-xs-12 col-sm-3">
              <span class="help-block mensagem-erro pull-right" *ngIf="pedidoForm.hasError('emailNaoBate')"><i class="fa fa-remove"></i> Email-s não conferem</span>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container mensagemErro="Minino 3 caracteres" label = "Endereço">
                <input class = "form-control has-error" formControlName="nome"  placeholder="Nome"  autocomplete="off">
              </mt-input-container>
            </div>

            <div class="col-sm-3 col-xs-6">
              <mt-input-container mensagemErro="E-mail inválido" label="email">
               <input class="form-control" formControlName = "email"   placeholder="Email" autocomplete = "off">
              </mt-input-container>
             </div>

             <div class="col-sm-3 col-xs-6 ">
              <mt-input-container mensagemErro="E-mail inválido" label="email">
               <input class="form-control" formControlName = "emailConfirmado" placeholder="Confirme o Email"   autocomplete = "off">
              </mt-input-container>
             </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container   mensagemErro="Campo obrigatório e com min de 5 caracteres" label = "Endereço">
                <input class = "form-control" formControlName="endereco"  placeholder="Endereço"  autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
             <mt-input-container mensagemErro="Campo obrigatório(somente números)" label="Número">
              <input class="form-control" formControlName = "numero"  placeholder="Número"  autocomplete = "off">
             </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container mensagemErro="campo obrigatório e com min de 5 caracteres" label="Complemento">
                <input class="form-control"  formControlName="complemento"  placeholder="Complemento" autocomplete="off">
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Itens do Pedido:</p>

            </div>

          </div>

          <mt-itens-pedido [itens]="carrinhoItem()"
          (addQntd)="addqntd($event)"
          (subtrairQntd)="subtrairQntd($event)"
          (removerItem)="removerItem($event)" ></mt-itens-pedido>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                  <mt-radio [options]="formasPagamento" formControlName="formaPagamento" ></mt-radio>

                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-frete
              [delivery]="delivery"
              [valorItem]="valorItem()"></mt-frete>
              </div>
              <a (click)="checarPedido(pedidoForm.value)" class="btn btn-success pull-right" [class.disabled]="!pedidoForm.valid || carrinhoItem().length === 0">
                <i class="fa fa-credit-card"></i> Concluir Pedido
            </a>
            </div>
            <!-- /.col -->


        </form>

        <div class="col-sm-6 col-xs-12">

      </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->
